<div>
  <div class="flex-container">
    <h2>Welcome</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="enter full name"
          />
        </div>
      </div>
      <p class="or">(OR)</p>
      <div class="form-group">
        <div>
          <label for="phone">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            [(ngModel)]="phone"
            name="phone"
            placeholder="+91"
          />
        </div>
      </div>
      <button type="submit" class="">Continue</button>
    </form>
  </div>
</div>
