.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(0, 84, 179, 0.9),
    rgb(230, 229, 255),
    rgba(0, 84, 179, 0.9)
  );
}

.card {
  width: 1051px;
  height: 604px;
  border-radius: 16px;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: white;
}

.leftCard {
  width: 442px;
  height: 100%;
  background-color: rgba(25, 148, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin: 28px;
}

.rightCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
  .card {
    width: 100%;
    height: auto;
    margin: 5px;
  }
  .leftCard {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 8px;
  }

  .leftCard {
    width: 100%;
    height: 50%;
  }

  .rightCard {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 8px;
    margin: 8px;
  }

  .leftCard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .rightCard {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .logo {
    margin: 18px;
  }
}
