<div class="container">
  <h2>Create Account</h2>
  <div class="loader"></div>
  <div class="loader"></div>
  <form>
    <div class="form-group">
      <label for="organisation-name">Organisation-name</label>
      <input
        type="organisation-name"
        class="form-control"
        id="organisation-name"
        [(ngModel)]="organisation-name"
        name="organisation-name"
        placeholder="organisation-name address"
      />
    </div>
    <div class="orgaisation-id">
      <label for="orgaisation-id">Orgaisation-id</label>
      <input
        type="text"
        class="form-control"
        id="orgaisation-id"
        [(ngModel)]="orgaisation-id"
        name="orgaisation-id"
        placeholder="organisation-id"
      />
    </div>
    <div class="form-group">
      <label for="designation">Designation</label>
      <input
        type="designation"
        class="form-control"
        id="designation"
        [(ngModel)]="designation"
        name="designation"
        placeholder="designation"
      />
    </div>
    <div class="form-group">
      <label for="birth-date">Birth-date</label>
      <input
        type="birth-date"
        class="form-control"
        id="birth-date"
        [(ngModel)]="birth-date"
        name="birth-date"
        placeholder="birth-date"
      />
    </div>
    <div class="form-group">
      <label for="birth-date"></label>
      <input
        type="birth-date"
        class="form-control"
        id="birth-date"
        [(ngModel)]="birth-date"
        name="birth-date"
        placeholder="birth-date"
      />
    </div>
    <div class="form-group">
      <label for="birth-date">Birth-date</label>
      <input
        type="birth-date"
        class="form-control"
        id="birth-date"
        [(ngModel)]="birth-date"
        name="birth-date"
        placeholder="birth-date"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
