@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 5rem;
}

.flex-container>*+* {
  margin-top: 0rem;
  text-align: left;
}


label {
  display: block;
}

.form-group {
  margin: 2rem 0;
}

input {
  width: 333px;
  height: 44px;
  background: #E4ECEE;
  border-radius: 16px;
  color: #767676;
  opacity: 0.7;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 96px 10px 16px;
  gap: 10px;
  border: 0px solid #767676;
  }


button {
  width: 332px;
  height: 38px;
  padding: 10px;
  gap: 10px;
  border-radius: 16px;
  opacity: 0px;
  background: #0069D1;
  color: white;
  border-color: #0069D1;
  cursor: pointer;
}

label{
  color:#0069D1;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.end-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5rem;
}

.end-text{
  margin-top: 2rem;
}

.loader{
  width: 160px;
  height: 8px;
  background: #0069D1;
  border: #0069D1;
  border-radius: 16px;
  margin-top: 1rem;
  margin-right: 0.2rem;
  display: inline-block;
}
.loader-empty{
  width: 160px;
  height: 8px;
  background: #dee0e0;
  border: #0069D1;
  border-radius: 16px;
  margin-top: 1rem;
  display: inline-block;
}

.two-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.inline-input {
  width: 333px;
  background: #E4ECEE;
  border-radius: 16px;
  color: #767676;
  opacity: 0.7;
  flex: none;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  border: 1.5px solid #0069D1;
  margin-right: 10px;
}

#city,
#pincode {
  width: 160px;
}

.form-gaps{
  margin-bottom: 1rem;
}

#back-button{
  text-decoration: none;
  color:#0069D1;
  cursor: pointer;
}

.error-message{
  color:red;
  font-size: 12px;
  margin: 2rem 0;
}






